<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title><%= htmlWebpackPlugin.options.title %></title>

        <style>
            fieldset, legend {
                border: none;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="appRoot"></div>
    </body>
</html>